[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
twine = "*"
Sphinx = "*"
codecov = "*"
sphinx_rtd_theme = "*"
pylint = "*"

[packages]
relaycommander = {editable = true, path = "."}
# :( https://github.com/pypa/pipenv/issues/2871
pip = "==18.0"