[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
relaycommander = {editable = true, path = "."}
# :( https://github.com/pypa/pipenv/issues/2871
pip = "==18.0"

[requires]
python_version = "3.6"
