[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

coverage = "*"
twine = "*"
sphinx = "*"
codecov = "*"
sphinx-rtd-theme = "*"
pylint = "*"


[packages]

relaycommander = {editable = true, path = "."}
pip = "==18.0"
"e1839a8" = {path = ".", editable = true}
click = "*"
click-log = "*"
requests = "*"
redis = "*"
"jinja2" = "*"
launchdarkly-api = "*"
